@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&family=Tapestry&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Tapestry', cursive;


}
header{
    background-color: rgb(238, 32, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    height: 10vh;
    
}
a{
    color: white;
}

a:hover{
    text-decoration: underline;
    transition: all ease 0.8s;
    color: rgb(216, 178, 9);
    cursor: pointer;
}



.logo{
    width: 120px;
    
}

.info{
    width: 20rem;
    
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem; 
}
main{
    background-color: rgba(204, 200, 200, 0.753);
    width: 100%;
    height: 100%;
    
}

h1{
    padding: 30px;
    text-align: center;
    font-size: 3rem;
    color: rgb(221, 166, 15);
    text-shadow: 0 0 0.1em black
}

.allimg{
    margin: 0 auto;
    width: 60%;
}


 main img{
    margin: 10px;
    border: 1px solid;
    width: 95%;
    height: 90vh;
    object-fit: cover;
}
footer{
   
    background-color: rgba(255, 0, 0, 0.918);
    display: flex;
    justify-content: space-between;
    
}

.rede{
    margin: 10px;
    width: 30px;
    height: 30px;
}

.infor2{   
    color: white;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infor2:hover{
    color: yellow;
}

